{%  include 'nav.html' %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>اضافه</title>
	<link rel="stylesheet" href="{% static '/style/data_form.css' %}"   >
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static '/style/style.css' %}">
	<script src="{% static '/JsBarcode.all.min.js' %} "></script>

</head>
<body>
	
<div class="wrapper">
	
	
	<div class="title">
		<p>اضافه قطعه</p>
	</div>
	<div>
		{%for message in messages%}
			<p id = "messages">{{message}}</p> 
        {%endfor%}
	</div>
    <!-- form method is get  -->
	<form class="form" method="post" >
		{% csrf_token %}
		<div class="input_field" >
			<label>كود القطعه </label>
			<input name = "product_id" type="text" class="input"    required> 
		</div>
		<div class="input_field" >
			<label>اسم القطعه </label>
			<input  name = "name" type="text" class="input"    >
		</div>

		<div class="input_field">
			<label>السعر</label>
			<input name = "sell_price" type="number" class="input" step="0.25" >
		</div> 
			<div class="input_field">
			<label>سعر الجمله </label>
			<input name = "buy_price"  type="number" class="input" step="0.25" >	
		</div>
        <div class="input_field">

			<label>عدد القطع</label>
			<input name= "num_of_items" type="number" class="input" required>	
		</div>

		<div class="input_field">
			<label>اسم المصنع </label>
			<input name = "factory_name" type="text" class="input" >
		</div>
		<div class="btn">
			<input type="submit"  class="add_btn" value="اضافه">
		</div>
	</form>
</div>

</body>
</html>