{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://unpkg.com/jsbarcode@latest/dist/JsBarcode.all.min.js"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/style/style.css' %}"   >
    <link rel="stylesheet" href="{% static '/style/nav.css' %}"   >
    <link rel="stylesheet" href="{% static '/style/sell.css' %}"   >
    <link rel="stylesheet" href="{% static '/style/data_form.css' %}"   >
    

    <title>Document</title>
    
</head>
<body>
  <div class="nav">
            

    <a  href="{% url 'insertProduct' %}">اضافه قطعه</a>
    <a href="#">تقارير</a>
    <a href= "{% url 'sell' %}" >بيع</a>
    <a href="{% url 'view_currrent_product' %}">البضاعة الموجودة</a>
    <a href="{% url 'barcode' %}">باركود</a>
    <a href="{% url 'view_solds_page' %}">المبيعات</a>
  </div>
  <div class="nav">
    <h1 style="color: white; text-align: center; border-top: 2px solid white;" >محل الطيار للطرح</h1>
  </div>
</body>
</html>