{%  include 'nav.html' %}
{% block content %}
<!-- search for item -->


<!-- add item  -->
<div class="sell" >
<form  method="POST"  >
  {% csrf_token %}
<!-- the output of the mony  -->
<output type="number" id="firstValue" >5</output>
<br>

  <!--  الخصم discount in % -->
  <input class="inp" type="number" id="Discountp" placeholder="نسبه الخصم %">
  

  <!--  الخصم Discount in no. -->
  <input  class="inp" type="number" id="DiscountValue" placeholder="مبلغ الخصم ">


  <!-- the output of the mony after discount  -->
  <p>بعد الخصم:</p>
  
  <output id="after_Discount">  </output>
         
  <input   type="button"  class="but" id="Discount" onclick="disc()" value="خصم">

     
  <!-- the amount of money from the customer  -->
  <input class="inp" type="number" id="secondValue" placeholder="المدفوع">
  
<!-- the remaning money for customer  -->
  <input    class="but" id="calc" onclick="calculation()" value="الباقي">

  <p>الباقي :  <output id="result">  </output> </p>
  <output id="result"></output>
  
  


  
</form>
</div>

<!-- 
          ##################################   
          ###javascript for discount calc###     
          ##################################
        -->

        <script>
          function disc() {
            var Discountp= document.getElementById("Discountp").value;
            var DiscountValue= document.getElementById("DiscountValue").value;
            var firstValue = document.getElementById("firstValue").value;
            var firstValueInt = parseInt(firstValue)
            
            var after = document.getElementById("after_Discount");
            if (DiscountValue>0.1){
            var after_Discount = firstValueInt - DiscountValue ;
            after.textContent =after_Discount;}else if (Discountp>1) {
              var Discountpp = Discountp*0.01;
              var after_Discount = firstValueInt-(firstValueInt * Discountpp) ;
            after.textContent =after_Discount;

            }
      }
      </script>


        <!-- 
          ##################################   
          ###javascript for remaning calc###     
          ##################################
        -->
<script>
function calculation() {

  var firstValue = document.getElementById("firstValue").value;
  var firstValueInt = parseInt(firstValue)
  var secondValue = document.getElementById("secondValue").value;
  var result = document.getElementById("result");
  var calc =   secondValue - firstValueInt;
result.textContent = calc;
}
</script>

{% endblock content %}

