<!--############################################################-->
<!-- this one is for viewing all sold products we have
    LOOK AT view_solds in views file     -->

<!--########################################################-->
{%  include 'nav.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/style/style.css' %}">
    <link rel="stylesheet" href="{% static '/style/data_form.css' %}"   >
     <script src="{% static 'jquery-3.6.0.min.js' %} "></script>
     <link rel="stylesheet" type="text/css" href="{% static '/DataTables/datatables.min.css' %}">
 
<script type="text/javascript" src="{% static '/DataTables/datatables.min.js' %}"></script>

<script src="{% static 'data.js' %}" ></script>

<style>
    table{
        margin: top 20%;
        width: 80%;
        margin-right: 10%;
        border:2px solid black ;
    }
    thead{
        color: white;
        background-color: rgb(37, 35, 35);
    }
    tr{
        border:2px solid black;
    }
</style>
</head>

<body>
<div class="glob-w">
    <table id="example" class="example">
        <thead>
            <tr>
                <th> التاريخ</th>
                 <th>الخصم</th>
                <th>السعر</th>
                <th>الاسم</th>
                <th>سعر البيع</th>
                
        
            </tr>
        </thead>
        
        <tbody>
            
        </tbody>
        </table>
</div>


<script>
          view_ddata();
            function view_ddata(){
                var wrapper = document.getElementById('list-wrapper')
                var url = 'http://127.0.0.1:8000/api/view_sold_product/'
            fetch(url)
            .then((resp) => resp.json())
            .then(function(data){
                console.log('Data:', data)
             var list = data 
             $('#example').DataTable( {
    data: data,
    columns: [
        { data: 'sold_date' },
        { data: 'discounts' },
        { data: 'price' },
        { data: "name" },
        { data: "sell_price" }
        
    ]
} );

            })

            }


</script>

</body>

</html>
